* {
    cursor: url("/cursor.png") 4 4, auto;
}

button, .point-me, input, a:hover {
  cursor: url("/pointer.png") 4 4, auto;
}

.retro {
  font-family: "Press Start 2P", system-ui;
  /* font-size: small; */
  font-weight: 400;
  /* letter-spacing: -1px; */
  font-style: normal;
}

.setting {
  image-rendering: pixelated; 
}

body {
  background: black;
}

.h-10 {
  margin-top: 9px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
}